<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="ClientId" value="6b9cb2d1-6e79-40e2-a8c5-57c50a75dfa9" />
		<add key="AzureIssuerId" value="9188040d-6c67-4c5b-b112-36a304b66dad" />
		<add key="Tenant" value="samvimes74656hotmail.onmicrosoft.com" />
		<add key="Authority" value="https://login.microsoftonline.com/{0}/v2.0" />
		<add key="RedirectUri" value="https://localhost:44368/" />
		<add key="Scopes" value="openid,profile" />
	</appSettings>

</configuration>