<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
		<add key="ClientId" value="152afa0c-8bf5-4f1e-b125-38abe7bfb553" />
		<add key="WizClientId" value="6b9cb2d1-6e79-40e2-a8c5-57c50a75dfa9" />
        <add key="AzureIssuerId" value="9188040d-6c67-4c5b-b112-36a304b66dad" />
		<add key="Tenant" value="ec47f5ff-c7b8-4848-8659-11c2c424d120" />
		<add key="WizTenant" value="a4bedeb1-28ad-43ba-8557-f533ac27ac8a" />
        <add key="Authority" value="https://login.microsoftonline.com/{0}/v2.0" />
        <add key="RedirectUri" value="https://login.microsoftonline.com/common/oauth2/nativeclient" />
        <add key="Scopes" value="openid,profile" />
    </appSettings>

</configuration>